streamlit
langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-anthropic==0.1.23
langchain-chroma==0.1.4
langchain-text-splitters==0.2.4
langchain-huggingface==0.0.3
chromadb
sentence-transformers
pypdf
rank-bm25
python-dotenv
pandas
